:root {
  --primary-text-color: #ffffff;
  --title-text-color: #212121;
  --paragraph-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  color: var(--title-text-color);
  background-color: var(--primary-text-color);
}

/* цвет заглавного текста #ffffff */
/* цвет титульного текста #212121 */
/* цвет для абзацев #757575*/
/* акцент  #2196F3; */
/* цвет ссылок color: rgba(255, 255, 255, 0.6); */

/* вторичный цвет фона #F5F4FA; */
/* цвет подвала #2F303A; */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-text {
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* Навигация по сайту */

.site-nav .link.current {
  color: var(--accent-color);
  width: 76px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.link-portfolio {
  color: var(--title-text-color);
  width: 76px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.link-contact {
  color: var(--title-text-color);
  width: 68px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.mail {
  color: var(--accent-color);
  width: 135px;
}

.tel {
  color: var(--paragraph-text-color);
  width: 122px;
}

/*Стили для index.html*/
/*Hero*/

.hero-title {
  color: var(--primary-text-color);
  background-color: #2f303a;
  width: 696px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/*Button*/

.button-primary {
  color: var(--primary-text-color);
  background-color: var(--accent-color);
  width: 200px;
}

/*Характеристика*/
.feature .title {
  color: var(--title-text-color);
  width: 270px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature .lead {
  color: var(--paragraph-text-color);
  width: 270px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/*Чем мы занимаемся*/
.work-list {
  color: var(--title-text-color);
  width: 376px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
}

/*Наша команда*/
.content-list {
  color: var(--title-text-color);
  width: 264px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 7;
  text-align: center;
  letter-spacing: 0.03em;
}

.content .title {
  color: var(--title-text-color);
  width: 151px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.content.lead {
  color: var(--paragraph-text-color);
  width: 87px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/*Футер разметка*/
.address {
  width: 231px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

/*Стили для portfolio.html*/

/*Site-nav*/

.link-studio {
  color: var(--title-text-color);
  width: 49px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

/*Button*/
.button {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.button :hover,
.butten :focus {
  background-color: var(--accent-color);
}

/*img-link*/
.img-link.title {
  color: var(--title-text-color);
  width: 322px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.img-link.lead {
  color: var(--paragraph-text-color);
  width: 322px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
