:root {
  --primary-text-color: #ffffff;
  --title-text-color: #212121;
  --paragraph-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", "Open Sans", sans-serif;
  color: var(--title-text-color);
  background-color: var(--primary-text-color);
}

body > button {
  font-family: "Roboto", "Open Sans", sans-serif;
  cursor: pointer;
}

body > a {
  font-family: "Roboto", "Open Sans", sans-serif;
}

/* цвет заглавного текста #ffffff */
/* цвет титульного текста #212121 */
/* цвет для абзацев #757575*/
/* акцент  #2196F3; */
/* цвет ссылок color: rgba(255, 255, 255, 0.6); */

/* вторичный цвет фона #F5F4FA; */
/* цвет подвала #2F303A; */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  color: #000000;
  width: 145px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-text {
  color: var(--accent-color);
  width: 145px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* Навигация по сайту */

.site-nav .link.current {
  color: var(--accent-color);
  width: 49px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.site-nav .link.current:hover,
.site-nav .link.current:focus {
  color: var(--accent-color);
}

.link-portfolio {
  color: var(--title-text-color);
  width: 76px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.link-contact {
  color: var(--title-text-color);
  width: 68px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.mailto {
  color: var(--paragraph-text-color);
  width: 135px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.mailto:hover,
.mailto:focus {
  color: var(--accent-color);
}

.phone {
  color: var(--paragraph-text-color);
  width: 122px;
}

/*Стили для index.html*/
/*Hero*/
.hero {
  background-color: #2f303a;
}

.hero-title {
  color: var(--primary-text-color);
  width: 696px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/*Button*/

.button-primary {
  color: var(--primary-text-color);
  background-color: var(--accent-color);
  width: 200px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/*Характеристика*/
.feature .title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subject {
  color: var(--paragraph-text-color);
  width: 270px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/*Чем мы занимаемся*/
.work-list {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
}

/*Наша команда*/
.content {
  background-color: #f5f4fa;
}

.content-list {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
}

.content .title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.lead {
  color: var(--paragraph-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/*Футер разметка*/
footer {
  background-color: #2f303a;
}

.logo-studio {
  color: var(--primary-text-color);
  width: 145px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.search {
  color: var(--primary-text-color);
  width: 231px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.box {
  color: var(--primary-text-color);
  width: 231px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.box {
  color: rgba(255, 255, 255, 0.6);
}

/*Стили для portfolio.html*/

/*Site-nav*/

.link-studio {
  color: var(--title-text-color);
  width: 49px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

/*Button*/
.button {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.button:hover,
.button:focus {
  background-color: F5F4FA;
}

.button-btn:hover,
.butten-btn:focus {
  background-color: var(--accent-color);
}

/*Список*/
/*img-link*/
.img-link .title {
  color: var(--title-text-color);
  width: 322px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.caption {
  color: var(--paragraph-text-color);
  width: 322px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
